PORT=3000
MONGO_URI=mongodb://localhost:27017/internshipBackend
JWT_SECRET=your-access-token-secret
JWT_REFRESH_SECRET=your-refresh-token-secret
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
EMAIL_USER=
EMAIL_PASS=
OTP_EXPIRY=10
CORS_ORIGIN=*
NODE_ENV=development
